<!DOCTYPE html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101233231-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101233231-2');
        </script> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Discover latest news from around the world using various filters. Use the links to get to the sources and read the full articles." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#9c27b0">
        <meta property="og:title" content="Latest News from around the world at one place" />
        <meta property="og:description" content="Discover latest news from around the world using various filters. Use the links to get to the sources and read the full articles." />
        <meta property="og:image" content="https://parthshah.xyz/news/images/logo.jpg" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://parthshah.xyz/news" />
        <link rel="shortcut icon" href="https://parthshah.xyz/news/favicon.ico" type="image/x-icon" />   
        <link rel="canonical" href="https://parthshah.xyz/news" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:700" rel="stylesheet">
        <link rel="stylesheet" href="https://parthshah.xyz/news/css/main.min.css">
        <title>Latest News from around the world at one place</title>
    </head>
    <body>

        <section id="app" class="grey-text text-darken-3">
            <div class="container">
                
                <!-- HEADER -->
                <div class="row">
                    <div class="col s12 center">
                        <h3 class="logo"><img src="./images/logo.png">News</h3>
                    </div>
                </div>
            

                <!-- PRELOADER -->
                <div class="row float-center" v-show="loading">
                    <div class="col s12">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer loader-color">
                                <div class="circle-clipper left">
                                <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- CONTROLS -->
                <div class="row">

                    <div class="col s6 m4 offset-m2">
                        <select v-model="country" class="browser-default">
                            <option value="" disabled selected>Select Counrty</option>
                            <option value="ae">United Arab Emirates</option>
                            <option value="ar">Argentina</option>
                            <option value="at">Austria</option>
                            <option value="au">Australia</option>
                            <option value="be">Belgium</option>
                            <option value="bg">Bulgaria</option>
                            <option value="br">Brazil</option>
                            <option value="ca">Canada</option>
                            <option value="ch">Switzerland</option>
                            <option value="cn">China</option>
                            <option value="co">Colombia</option>
                            <option value="cu">Cuba</option>
                            <option value="cz">Czechia</option>
                            <option value="de">Germany</option>
                            <option value="eg">Egypt</option>
                            <option value="fr">France</option>
                            <option value="gb">U.K.</option>
                            <option value="gr">Greece</option>
                            <option value="hk">Hongkong</option>
                            <option value="hu">Hungary</option>
                            <option value="id">Indonesia</option>
                            <option value="ie">Ireland</option>
                            <option value="il">Isreal</option>
                            <option value="in">India</option>
                            <option value="it">Itly</option>
                            <option value="jp">Japan</option>
                            <option value="kr">Korea</option>
                            <option value="lt">Lithuania</option>
                            <option value="lv">Latvia</option>
                            <option value="ma">Morocco</option>
                            <option value="mx">Mexico</option>
                            <option value="my">Malaysia</option>
                            <option value="ng">Nigeria</option>
                            <option value="nl">Netherlands</option>
                            <option value="no">Norway</option>
                            <option value="nz">New Zealand</option>
                            <option value="ph">Philippines</option>
                            <option value="pl">Poland</option>
                            <option value="pt">Portugal</option>
                            <option value="ro">Romania</option>
                            <option value="rs">Servia</option>
                            <option value="ru">Russia</option>
                            <option value="sa">Saudi Arabia</option>
                            <option value="se">Sweden</option>
                            <option value="sg">Singapore</option>
                            <option value="si">Slovenia</option>
                            <option value="sk">Slovakia</option>
                            <option value="th">Thailand</option>
                            <option value="tr">Turkey</option>
                            <option value="tw">Taiwan</option>
                            <option value="ua">Ukraine</option>
                            <option value="us">United States of America</option>
                            <option value="ve">Venezuela</option>
                            <option value="za">South Africa</option>
                        </select>
                    </div>

                    <div class="col s6 m4">
                        <select v-model="category" class="browser-default">
                            <option value="" disabled selected>Select Category</option>
                            <option value="business">Business</option>
                            <option value="entertainment">Entertainment</option>
                            <option value="general">General</option>
                            <option value="Health">Health</option>
                            <option value="science">Science</option>
                            <option value="sports">Sports</option>
                            <option value="technology">Tech.</option>
                        </select>
                    </div>

                    <div class="col s12 m8 offset-m2 input-field">
                        <input placeholder="Keywords" v-model="query" type="text">
                    </div>

                    <div class="col s12 center">
                        <button @click="fetch()" class="btn-large waves-light waves-effect purple fetch-button">Fetch</button>
                    </div>

                </div>

                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>

                <!-- CARDS -->
                <div class="row">

                    <transition-group name="card-listing">

                        <div class="col s12 news-card" v-for="instance in results" :key="instance.title">  

                            <div class="row">

                                <div class="col m5 s12 center-align">
                                    <p class="title" v-text="instance.title"></p>
                                    <div class="row"><div class="col s6 offset-s3 dotted-divider"></div></div>
                                    <p class="description" v-text="instance.description"></p>
                                    <p class="meta light" v-html="computeDate(instance.publishedAt)+'<br>'+instance.source.name"></p>
                                </div>

                                <div class="col m6 s12 offset-m1 center">
                                    <img :src="instance.urlToImage" class="responsive-img">        
                                </div>

                                <div class="col s12 center">
                                    <a class="btn-flat waves-effect waves-grey blue-text" :href="instance.url" target="_BLANK">Read Full Article</a>
                                </div>

                            </div>  

                        </div>

                    </transition-group>

                </div>

                <div class="row" v-show="this.results != ''">
                    <div class="col s8 offset-s2 divider m4 offset-m4"></div>
                    <div class="col s12 center">
                        <p class="light"><a href="https://parthshah.xyz">parthshah.xyz</a></p>
                    </div>
                </div>

            </div>
        </section>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="https://parthshah.xyz/movies/js/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src="https://parthshah.xyz/news/js/script.min.js"></script>
    </body>
</html>